@model  NetShopeBusiness.Model.Product
<div class="col-md-4 col-sm-6">
    <div class="card">
        <a href="@Url.Action("ViewDetails", "Product1", new { id = Model.ProductID })">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var item in Model.Pictures)
                    {
                        <div class="carousel-item @(item == Model.Pictures.First() ? "active" : "")">
                            <img src="@Url.Content("~/Images/" + item.PicturePath)" alt="Product Image" class="d-block w-100">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </a>
        <div class="card-body">
            <h5 class="card-text">@Model.Name</h5>
            <p class="card-text">
                <span class="_30jeq3">₹ @Model.UnitPrice</span>
            </p>
            <a href="@(Session["username"] != null ? Url.Action("AddToCart", "Product1", new { id = Model.ProductID}) : Url.Action("Login", "Account"))" class="btn btn-primary">
                <span class="fa fa-shopping-cart"></span> Add To Cart
            </a>
        </div>
        <div class="card-footer">
            <div class="aa-product-hvr-content">
                <a href="@(Session["username"]!=null ? Url.Action("WishList","Product1", new {id=@Model.ProductID }) :Url.Action("Login","Account"))" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                <a href="@Url.Action("ViewDetails", "Product1", new { id = Model.ProductID })" title="View Details" data-toggle="tooltip" data-placement="top"><span class="fa fa-info"></span></a>
            </div>
        </div>
    </div>
</div>




